::after,
::before {
    box-sizing: inherit;
}

.condition-box {
    position: absolute;
    width: 510px;
    height: 330px;
    left: 80px;
    top: 174px;
    background: #D9D9D9;
    border-radius: 30px;

}
/* 
.temp-day {
    position: absolute;
    width: 204px;
    height: 100px;
    left: 92px;
    top: 361px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 120px;

    color: #fff6f6;
} */


/* Main Infos

position: absolute;
width: 192px;
height: 182.49px;
left: calc(50% - 192px/2 - 565px);
top: calc(50% - 182.49px/2 - 212.76px); */