::after,
::before {
    box-sizing: inherit;
}

.container {
    position: relative;
    width: 1512px;
    height: 982px;
    background: linear-gradient(112.65deg, #FFFFFF 0.28%, rgba(70, 97, 115, 0) 178.65%);
}