::after,
::before {
    box-sizing: inherit;
}

.overall-weather {
    padding: 10px;
    display: grid;
    grid-template-rows: 45% 55%;
}

.temp-overall {
    padding-left: 18%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.temp-feels {
    font-weight: 700;
    font-size: x-large;
    text-align: left;
}

.temp-other {
    font-weight: 700;
    font-size: large;
    width: 125%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: left;
}

.rest-overall {
    font-weight: 600;
    font-size: large;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: end;
}

.pressure-img {
    width: 30%;
}

.wind-img {
    width: 30%;
}